body {
    background-color: aliceblue;
}
#test {
    border: 1px solid black;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}