

body {
    background-color: aliceblue;
    text-align: center;
    touch-action: none;
}

h1 {
    font-size: 42px;
    font-weight: bold;
}

#game {
    border: 1px solid black;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    cursor: none;
}

#version {
    position: absolute;
    right: 0;
    bottom: 0;
}