html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: rgba(36, 47, 62, 1);
  /* touch-action: none; */
  -webkit-touch-callout: none;
}

#root {
  text-align: center;
}

.Chart {
  display: inline-block;
  color: rgba(84, 103, 120, 1);
  font-family: sans-serif;
  margin-bottom: 5em;
}

.Chart .header {
  text-align: left;
  font-weight: 550;
  color: white;
}

.Chart .main {
  border-bottom: 1px solid rgba(84, 103, 120, 0.5);
}

.Chart .map {
  position: relative;
}

.Chart .time-row {
  overflow: hidden;
  position: relative;
}

.exp-left {
  text-align: right;
}

.time {
  overflow: hidden;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 0.85em;
  text-align: center;
  padding-top: 0.5em;
}

.time-moving {
  position: absolute;
}

.time-opacity {

}


.slider {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.out-left, .out-right {
  position: relative;
  background-color: rgba(30, 41, 54, 0.75);
  flex: none;
  z-index: 1;
}

.out-left {
  left: 0;
}

.out-right {
  right: 0;
}

.thumb {
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  border-style: solid;
  border-color: rgba(92, 126, 152, 0.5);
  border-width: 1.5px 0px 1.5px 0px;
  display: flex;
  flex: 1;
}

.thumb .center {
  cursor: pointer;
  flex: 1;
}

.thumb .left, .thumb .right {
  width: 15px;
  cursor: col-resize;
  flex: none;
}

.thumb .left {
  border: inherit;
  border-width: 0px 0px 0px 5px;
  left: 0;
}

.thumb .right {
  border: inherit;
  border-width: 0px 5px 0px 0px;
  right: 0;
}
